.title {
  font-weight: 600;
  color: white;
  font-size: 40px;
}

.help-title {
  font-weight: 300;
  text-align: left;
  color: white;
  font-size: 95px;
}

.spaces-title {
  font-weight: bolder;
  color: white;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 40px;
  background: transparent;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 205px;
  width: 300px;
  margin-top: -105px;
  margin-left: -160px;
  line-height: 150%;
}

.help-box {
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

.db-content {
  font-weight: 200;
  padding-left: 145px;
  padding-right: 45px;
}

.db-title {
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 10px;
  text-align: left;
  height: 65px;
  color: black;
  padding: 45px;
  padding-left: 145px;
  height: 40px;
}

.db-messages {
  right: 0;
  left: 0;
  text-align: center;
  position: fixed;
  bottom: 0px;
  font-weight: 300;
  background-color: #84BE6A;
  padding-top: 3px;
  color: #ffffff;
  font-size: 16px;
  border-bottom: none;
  opacity: 0;
  padding-left: 205px;
  height: 25px;
}

.db-name-entry {
  font-weight: 300;
  color: black;
  font-size: inherit;
  width: 175px;
}

.db-name-save-button {
  background: inherit;
  font-weight: 300;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.topbar-color {
  background: #8c9eff;
  background: -webkit-linear-gradient(135deg, #4952FF, #88B7FF, #FDF6C0, #FFFFFF);
  background: -o-linear-gradient(135deg, #4952FF, #88B7FF, #FDF6C0, #FFFFFF);
  background: -moz-linear-gradient(135deg, #4952FF, #88B7FF, #FDF6C0, #FFFFFF);
  background: linear-gradient(135deg, #4952FF, #88B7FF, #FDF6C0, #FFFFFF);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 15px;
  z-index: 1;
}

.space-blocks {
  height: 250px;
  width: 350px;
  text-align: center;
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 35px;
  cursor: pointer;
}

.device-blocks {
  height: 250px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
}

.space-link {
  font-size: 25px;
  top: 150px;
  color: black;
  cursor: pointer;
}

.topbar {
  font-family: 'Helvetica Neue';
  padding-left: 15px;
  padding-top: 20px;
  background-color: white;
  width: 100%;
  height: 99px;
  font-size: 75px;
  color: black;
  border-bottom: 1px solid #dedede;
  position: relative;
  z-index: 10;
  margin-top: 0px;
}

.sidebar {
  background-color: white;
  position: fixed;
  width: 100px;
  height: 100%;
  top: 0px;
  padding-left: 5px;
  line-height: 200%;
  left: 0px;
  color: black;
  border-right: 1px solid #dedede;
  padding-top: 120px;
  z-index: 0;
}

.db-table th {
  font-size: 50px;
  font-weight: bold;
}

.db-table td {
  vertical-align: top;
  padding: 25px;
  padding-bottom: 80px;
  border: none;
}

.db-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.edit-button {
  font-family: 'Helvetica Neue', sans-serif;
  width: 50px;
  font-size: 12px;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  padding: 3px;
  float: right;
}

.upload-button {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  padding: 0px;
}

.qr-button {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.popover {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -127px;
  margin-top: -137px;
  width: 255px;
  height: auto;
  background: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 150;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: black;
  display: none;
  z-index: 100;
}

.qr-close-button {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  padding: 3px;
  float: right;
}

.logout {
  background-color: inherit;
  border: none;
  font-family: 'Helvetica Neue', sans-serif;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.footer-box {
  position: fixed;
  bottom: 0;
  width: 103px;
  /*background-color: black;*/
  color: black;
  text-align: center;
  left: 0;
  font-size: 16px;
  height: 25px;
  padding-top: 3px;
}

.text-box {
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  font-size: inherit;
  white-space: pre-wrap;
  border: 1px solid #dbe1ff;
  border-radius: 4px;
  padding: 2px;
}

.input-text {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  font-size: inherit;
  white-space: pre-wrap;
  border: 1px solid #dbe1ff;
  border-radius: 4px;
  resize: none;
}

.delete-space-button {
  background-color: inherit;
  border: none;
  float: right;
}

.save-space-button {
  background-color: inherit;
  border: none;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  position: absolute;
  right: 25px;
  cursor: pointer;
  padding-left: 10px;
}

.upload-button {
  bottom: 0;
}

.test-button {
  background-color: inherit;
  border: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: white;
  text-align: center;
}

.delete-space-button:hover {
  cursor: pointer;
}

.login-button {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100px;
  font-size: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
}

.login-button:hover {
  color: black;
  background-color: white;
}

.edit-button:hover {
  text-decoration: underline;
}

.upload-button:hover {
  text-decoration: underline;
}

#c {
  position: fixed;
  width: 100px;
  height: 100%;
}

#device-space-entry {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: inherit;
  border: 1px solid #dbe1ff;
  border-radius: 4px;
  resize: none;
}

#device-name-entry {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: inherit;
  border: 1px solid #dbe1ff;
  border-radius: 4px;
  resize: none;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0px;
}

.splash-body {
  font-family: 'Helvetica Neue', sans-serif;
  margin-right:0px;
  background: #8c9eff;
  background: -webkit-linear-gradient(135deg, #8c9eff, #f9cbc6, #faf6e7);
  background: -o-linear-gradient(135deg, #8c9eff, #f9cbc6, #faf6e7);
  background: -moz-linear-gradient(135deg, #8c9eff, #f9cbc6, #faf6e7);
  background: linear-gradient(135deg, #8c9eff, #f9cbc6, #faf6e7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.help-body {
  font-family: 'Helvetica Neue', sans-serif;
  margin-right:0px;
  background: -webkit-linear-gradient(135deg, #036564, black);
  background: -o-linear-gradient(135deg, #036564, black);
  background: -moz-linear-gradient(135deg, #036564, black);
  background: linear-gradient(135deg, #036564, black);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

button:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}
