<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="style/style.css" rel="stylesheet" type="text/css">

    <script src="scripts/libraries/three.min.js"></script>
    <script src="scripts/libraries/qrcode.js"></script>
    <script src="scripts/libraries/jquery.min.js"></script>

  <script src="scripts/actions.js"></script>
  <script src="scripts/database.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,900" rel="stylesheet">

  <title>Lensflare</title>

</head>

<body onload="loadSpaces()">

  <canvas id="c" style="z-index: 0"></canvas>

  <div id='qr-popover' class='qr-popover'></div>

  <div id="db-messages" class="db-messages"></div>
  <div id="sidebar" class="sidebar">
    <div class="spaces-title">Lensflare</div>
    <div id="space-links"></div>
    <!-- <br /><br />
    <button class="test-button" onclick="loadMockData()" value="logout">loadMockData</button>
    <button class="test-button" onclick="addItemTest()" value="logout">add item test</button> -->
  </div>

  <div class="logout-button">
    <button class="logout" onclick="logout()" value="logout">logout</button>
  </div>
  <div id="db-name" class="db-title"></div>
  <div id="content" class="db-content">
    <table id="db-table" class="db-table"style="z-index: 10"/>
  </div>
</body>
