<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="style/style.css" rel="stylesheet" type="text/css">

    <script src="scripts/libraries/three.min.js"></script>
    <script src="scripts/libraries/qrcode.js"></script>
    <script src="scripts/libraries/jquery.min.js"></script>

  <script src="scripts/actions.js"></script>
  <script src="scripts/database.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,900" rel="stylesheet">

  <title>Lensflare</title>

</head>

<body onload="loadSpaces()">


  <div id='overlay' class='overlay'></div>
  <canvas id="c" style="z-index: 0"></canvas>

  <div id='popover' class='popover'></div>

  <div id="db-messages" class="db-messages"></div>
  <div id="sidebar" class="sidebar">
    <div class="spaces-title">Lensflare</div>
    <div id="space-links"></div>
    <!-- <br /><br /> -->
    <div style='font-size:12px; text-align:center'><a style='cursor: pointer;' onclick='manageDevices()'>manage my devices</a></div>
    <br />
    <button class="test-button" onclick="addItemTest()" value="logout">loadMockData</button>
  </div>

  <div id="db-name" class="db-title"></div>

  <div id="content" class="db-content">
    <table id="db-table" class="db-table"style="z-index: 10"/>
  </div>


  <div class="footer-box">
    <button class="logout" onclick="logout()" value="logout">logout</button>
  </div>

</body>
