<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="style/style.css" rel="stylesheet" type="text/css">

    <script src="scripts/libraries/three.min.js"></script>
    <script src="scripts/libraries/qrcode.js"></script>
    <script src="scripts/libraries/jquery.min.js"></script>

  <script src="scripts/actions.js"></script>
  <script src="scripts/database.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,900" rel="stylesheet">

  <title>Lensflare</title>

</head>

<body onload="loadSpaces()">

  <div class="topbar"><div class="topbar-color"></div>Lensflare</div>

  <div id='overlay' class='overlay'></div>
  <canvas id="c" style="z-index: 0"></canvas>

  <div id='popover' class='popover'></div>

  <div id="db-messages" class="db-messages"></div>
  <div id="sidebar" class="sidebar">
    <!-- <div class="spaces-title">Lensflare<img style="padding: 5px; padding-right: 10px; float: right" onclick="window.location.href = '/help'" src="assets/question.png"></div> -->

    <!-- <div id="welcome"></div> -->
    <div style='font-size:14px; text-align:center'><a style='cursor: pointer;' onclick='displaySpaces()'><img style="padding-top: 40px;" src='assets/spaces.png'><br />Spaces</a></div><br />
    <div style='font-size:14px; text-align:center'><a style='cursor: pointer;' onclick='manageDevicesLoad()'><img style="padding-top: 20px;" src='assets/devices.png'><br />Devices</a></div><br />
    <div style='font-size:14px; text-align:center'><a style='cursor: pointer;' onclick='logout()'><img style="padding-top: 20px;" src='assets/logout.png'><br />Logout</a></div><br /><br />
    <div id="space-links"></div>
    <div id="new-space"></div>

    <!-- <br /><br /> -->
    <!-- <div style='font-size:12px; text-align:center'><a style='cursor: pointer;' onclick='addSpace()'><img src="assets/add.png">add</a></div> -->
    <br />
    <!-- <div style='font-size:12px; text-align:center'><a style='cursor: pointer;' onclick="addItemTest()">load mock data</a></div> -->
  </div>

  <div id="db-name" class="db-title"></div>

  <div id="content" class="db-content">

    <table id="db-table" class="db-table"style="z-index: 10"/>
  </div>


  <!-- <div class="footer-box">
    <button class="logout" onclick="logout()" value="logout">logout</button>
  </div> -->

</body>
